html,
body,
header {
    height: 100%;
}

a {
    color: white;
    text-decoration: none;
}

/* Divs */

body {
    background: url("images/31247.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}


/* Containers */

.nav-container {
    padding: 5% 7%;
    background-color: none;
    padding-bottom: 250px;
}

.body-container {
    height: 400px;
    width: 600px;
    margin: 0 auto;
    color: rgb(233, 229, 229);
    text-align: left;
}

.explore-body {
    color: white;
    height: 500px;
    width: 500px;
    margin: 0 auto;
}

.footer-container {
    width: 600px;
    color: white;
    text-align: center;
}

/* Navbar */

.navbar {
    font-weight: 400;
}

.navbar-brand {
    font-size: 25px;

}


.nav-item:hover {
    font-weight: 700;
}

.item {
    margin-left: 20px;
}

.logo {
    margin-left: 10%;
}

/* Body Content */

.year {
    padding-bottom: 10px;
}

.title {
    padding-bottom: 10px;
    font-weight: 800;
    font-size: 80px;
}

.description {
    color: rgb(250, 243, 243);
    word-spacing: 3px;
    line-height: 2;
}


/* Footer */

.footer-properties {
    text-align: center;
    display: flex;
    line-height: 1;
    padding-bottom: 30px;
}


.footer-div1 {
    margin-right: 100px;
}

.footer-div2 {
    margin-right: 100px;
}

.footer-div3 {
    color: white;
}

.footer-paragraph {
    text-align: center;
}

.github:hover {
    color: orange;
}

.twitter:hover {
    color: lightskyblue;
}

@media only screen and (max-width: 1400px) {

    /* Containers */

    .nav-container {
        padding-bottom: 300px;
        font-size: 300%;
    }


    .body-container {
        text-align: center;
    }

    .footer-container {
        width: 400px;
        color: white;
        text-align: center;
        margin: 0 auto;
    }

    /* Navbar */

    .navbar {
        font-weight: 400;
        color: black;
    }

    .navbar-brand {
        font-size: 200%;
        font-weight: 700;
    }

    .nav-link {
        color: black;
    }

    .nav-item:hover {
        font-weight: 700;
    }

    .item {
        margin-left: 20px;
    }

    .logo {
        margin-left: 10%;
    }


    .year {
        padding: 5px;
    }

    .logo {
        margin-left: 10px;
    }

    .logo:hover {
        font-weight: 900;
        color: white;

    }

    .nav-item {
        color: black;
    }

    .navbar-dark {
        color: black;
    }
}